# Ignore everything
**

# Allow files and directories
!/src/**
!/package.json
!/package-lock.json
!/.npmrc
!/vite.config.js

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store